[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
peewee = "*"
pytest = "*"
pyopenssl = "*"
pillow = "*"
psycopg2 = "*"
jinja-markdown = "*"

[dev-packages]

[requires]
python_version = "3.11"
